.App {
  text-align: center;
}

.app-head {
  margin-top: 3rem;
}

.row {
  display: flex;
}

.calc-container {
  justify-content: center;
  align-content: center;
  width: 40rem;
  height: 40rem;
  margin: 1rem auto 0 auto;
}

.display {
  width: 40rem;
  text-align: right;
  box-sizing: border-box;
  height: 6rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid #413f3f;
  background: #898b8bd8;
}

.display p {
  color: #fff;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  font-size: 2rem;
}
